<div class="container">
    <div class="img">

        <img  src="https://play-lh.googleusercontent.com/8ddL1kuoNUB5vUvgDVjYY3_6HwQcrg1K2fd_R8soD-e2QYj8fT9cfhfh3G0hnSruLKec" alt="https://play-lh.googleusercontent.com/8ddL1kuoNUB5vUvgDVjYY3_6HwQcrg1K2fd_R8soD-e2QYj8fT9cfhfh3G0hnSruLKec">
    </div>
    <div class="row" style="width: 35%; font-size: larger; font-family:Georgia ; align-items: center;">
        <p>Name: {{a.name}} {{a.surname}}</p>
        <mat-divider></mat-divider>
        <p>Born Date: {{a.born_date}}</p>
        <mat-divider></mat-divider>
        

        <p>Death Date: {{a.death_date}}</p>
        <mat-divider></mat-divider>

        <p>Country: {{a.country}}</p>
        <mat-divider></mat-divider>

        <p>Genre {{a.genre}}</p>
        <mat-divider></mat-divider>

        <p>Alive: {{a.alive}}</p>
        <mat-divider></mat-divider>

        

    </div>
    



    <div style="font-size: larger; font-family:Georgia ;">
    <p>Description: </p>
    <p>{{a.description}}</p>
    <mat-divider></mat-divider>

</div>

</div>
