<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap"><a href="/authors" class="nav-link"><mat-icon>brush</mat-icon>Authors</a></li>
    </ul>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap"><a href="/books" class="nav-link"><mat-icon class="mat-icon-label">book</mat-icon>
            <span>Books</span></a></li>
    </ul>
    
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap"><a href="/book-create" class="nav-link"><mat-icon class="mat-icon-label">import_contacts</mat-icon>
            <span>Add a book</span></a></li>
    </ul>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap"><a href="/author-create" class="nav-link"><mat-icon>smoking_rooms</mat-icon>Add an Author</a></li>
    </ul>
</nav>

<main role="main" class="">
    <router-outlet></router-outlet>
</main>